@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
}


@layer components {
    .form-input {
        border: theme('borderWidth.2') solid theme('colors.black');
        width: theme('width.full');
        border-radius: theme('borderRadius.lg');
        padding: theme( 'spacing.2' ); 
        transition: .125s ease-in box-shadow;
    }
    
    .form-input:focus {
        box-shadow: theme('boxShadow.md')
    }
    
}